<?xml version="1.0"?>
<config>
  <modules>
    <Eshop_Merchant>
      <version>0.1.0</version>
    </Eshop_Merchant>
  </modules>
  <frontend>
    <routers>
      <merchant>
        <use>standard</use>
          <args>
            <module>Eshop_Merchant</module>
            <frontName>merchant</frontName>
          </args>
      </merchant>
    </routers>
		<layout>
		  <updates>
			<merchant>
			  <file>merchant.xml</file>
			</merchant>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <merchant>
        <class>Eshop_Merchant_Helper</class>
      </merchant>
    </helpers>
	<blocks>
	  <merchant>
		<class>Eshop_Merchant_Block</class>
	  </merchant>
	</blocks>
	<models>
	  <merchant>
		<class>Eshop_Merchant_Model</class>
		<resourceModel>merchant_mysql4</resourceModel>
	  </merchant>
	  <merchant_mysql4>
		<class>Eshop_Merchant_Model_Mysql4</class>
		<entities>		  
			  <merchnat>
				<table>merchant</table>
			  </merchnat>
        </entities>
	  </merchant_mysql4>
	</models>
	<resources>
	  <merchant_setup>
		<setup>
		  <module>Eshop_Merchant</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </merchant_setup>
	  <merchant_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </merchant_write>
	  <merchant_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </merchant_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <merchant>
	    <use>admin</use>
		<args>
		  <module>Eshop_Merchant</module>
		  <frontName>merchant</frontName>
		</args>
	  </merchant>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <merchant module="merchant">
		<title>Merchant</title>
		<sort_order>100</sort_order>
		<children>
		  <merchnat module="merchant">
		    <title>Manage Merchant</title>
			<sort_order>0</sort_order>
			<action>merchant/adminhtml_merchnat</action>
		  </merchnat>
		</children>
	  </merchant>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<merchant translate="title" module="merchant">
			  <title>Merchant</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <merchnat translate="title">
			<title>Manage Merchant</title>
			<sort_order>0</sort_order>
		  </merchnat>
			  </children>
			</merchant>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<merchant>
		  <file>merchant.xml</file>
		</merchant>
	  </updates>
	</layout>
  </adminhtml>
</config> 