<?xml version="1.0"?>
<config>
  <modules>
    <Eshop_Homepage>
      <version>0.1.0</version>
    </Eshop_Homepage>
  </modules>
  <frontend>
    <routers>
      <homepage>
        <use>standard</use>
          <args>
            <module>Eshop_Homepage</module>
            <frontName>homepage</frontName>
          </args>
      </homepage>
    </routers>
		<layout>
		  <updates>
			<homepage>
			  <file>homepage.xml</file>
			</homepage>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <homepage>
        <class>Eshop_Homepage_Helper</class>
      </homepage>
    </helpers>
	<blocks>
	  <homepage>
		<class>Eshop_Homepage_Block</class>
	  </homepage>
	</blocks>
  </global>
</config> 