<?xml version="1.0"?>
<config>
	<sections>
	     	<slide translate="label" module="slide">
			<label>SLIDER</label>
			<class>slider-section-ga</class>
			<tab>general</tab>
			
			<frontend_type>text</frontend_type>
			<sort_order>999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<settings translate="label">
				<label>Slider Settings</label>
				<class>slider-section</class>
				<frontend_type>text</frontend_type>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
					<fields>
						<list_style translate="label, comment">
							<label>Transition Effects</label>
							<comment><![CDATA[Choice style for effects]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>slide/system_config_styles</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</list_style>
						
						<show_description translate="label, comment">
							<label>Show description</label>
							<comment><![CDATA[show description in front of image]]></comment>
							<frontend_type>select</frontend_type>
							
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_description>
						<show_start translate="label, comment">
							<label>Auto Start</label>
							<comment><![CDATA[Auto start slide]]></comment>
							<frontend_type>select</frontend_type>
							
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_start>
						
						<mouseover translate="label, comment">
							<label>Mousover Pause</label>
							<comment><![CDATA[Pause slide if set to yes]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mouseover>
						<nextprev translate="label, comment">
							<label>Display Next Previous Button</label>
							<comment><![CDATA[Show next previous button if set to yes]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nextprev>
						<paging translate="label, comment">
							<label>Display Pagination</label>
							<comment><![CDATA[Show paging if set to yes]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</paging>
						<thumbicons translate="label, comment">
							<label>Show Page Thumb</label>
							<comment><![CDATA[Show thumb instead of paging if set to yes]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</thumbicons>
						<sidenavigation translate="label, comment">
							<label>Show Side Navigation Buttons</label>
							<comment><![CDATA[Show side navigation buttons]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sidenavigation>
						<textmouseover translate="label, comment">
							<label>Show Text On Mouse Hover</label>
							<comment><![CDATA[Show Description on mouse hover if enabled]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</textmouseover>
						<randomslide translate="label, comment">
							<label>Random Slide</label>
							<comment><![CDATA[Shuffle slide if set to yes]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</randomslide>
					</fields>
					
				</settings>
				 <defaultconfig translate="label">
                    <label>Default Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

					<!-- List your config values here -->
                    <fields>

						<delay translate="label, comment">
							<label>Time Delay</label>
							<comment><![CDATA[Time delay between slides]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</delay>
						<image_width translate="label, comment">
							<label>Image width</label>
							<comment><![CDATA[Unit is px]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</image_width>
						<image_height translate="label, comment">
							<label>Image height</label>
							<comment><![CDATA[Unit is px]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</image_height>
						
                    </fields>

                </defaultconfig>

			</groups>
		</slide>
	</sections>
</config>